{% extends "base.html" %}
{% block content %}
    <div class="d-flex gap-3 align-items-center mb-1 me-1 justify-content-between">
        <h1>IDOLS </h1>
        <a href="{% url 'idol-upload' %}" class="fs-6 btn btn-outline-info">Upload Image</a>
    </div>
    <div class="row">
        {% for idol in idols %} 
            <div class="col-md-3">
                <div class="card mb-3">
                    <div class="card-body m-0 p-1 text-center">
                        <h5 class="card-title"><a href="{% url 'idol-detail' idol.id %}">{{ idol.title }}</a></h5>
                    </div>
                    <img src="{{ idol.thumbnail.url }}" class="card-img-top" alt="{{ idol.title }}">
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}