{% extends "base.html" %}
{% block content %}
    <h1>Welcome to Blog Home</h1>
    {% for post in posts %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">{{ post.author }}</a>
              <small class="text-muted">{{ post.date_posted|date:"Y-m-d H:i"}}</small>
            </div>
            <h2><a class="article-title" href="#">{{ post.title }}</a></h2>
            <p class="article-content m-0">{{ post.content }}</p>
            <small class="text-muted mt-0">updated : {{ post.date_updated|date:"Y-m-d H:i"}}</small>
          </div>
        </article>
    {% endfor %}
{% endblock %}