{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
    <h2>Log out 했습니다.</h2>
    <div class="content-section">
        <form method="post">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Log In</legend>
            </fieldset>
            <div class="form-group">
                <a class="btn btn-outline-info mb-3" href="{% url 'login' %}">Login</a>
            </div>
        </form>
        <!-- <small class="text-muted">
            <a href="{% url 'login' %}">Log in Again</a>
        </small> -->
    </div>
{% endblock %}