{% extends "base.html" %}
{% block content %}
    <div class="d-flex gap-3 align-items-center mb-1 me-2 justify-content-between">
        <h1>{{ image.title }} </h1>
        <div>
            <a href="{% url 'idol-home' %}" class="btn btn-outline-info btn-sm fs-6">Home</a>
            <a href="{% url 'idol-delete' image.id %}" class="btn btn-outline-danger btn-sm fs-6">Delete</a>
        </div>
    </div>
    <div class="card">
        <img src="{{ image.image.url }}" class="card-img-top" alt="{{ image.title }}">
    </div>
{% endblock %}